<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Игра: Ударить</title>
</head>
<body>
    <h1>Игра: Ударить</h1>
    <h2>{{ character1.name }}</h2>
    <p>Здоровье: {{ character1.health }}</p>
    <p>Атака: {{ character1.attack }}</p>
    <p>Критическая Атака: {{ character1.critical_attack }}</p>
    <p>Броня: {{ character1.armor }}</p>
    <p>Живый: {{ character1.alive }} </p>
    <p>Удача: {{ character1.luck }}</p>

    


 


    <form action="/fight_character" method="post">
        <input type="submit" name="c1damage" value="damage">
    </form>



    




    <h2>{{ character2.name }}</h2>
    <p>Здоровье: {{ character2.health }}</p>
    <p>Атака: {{ character2.attack }}</p>
    <p>Критическая Атака: {{ character2.critical_attack }}</p>
    <p>Броня: {{ character2.armor }}</p>
    <p>Живый: {{ character2.alive }} </p>
    <p>Удача: {{ character2.luck }}</p>

    

</body>
</html>
