<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Выберите действие</h1>
    <div style="display: flex; flex-direction:row; "   >
    <form action="/fight_character" method="post">
        <input type="submit" name="fightVC" value="start">
    </form>
    <form action="/fight_mob" method="post">
        <input type="submit" name="fightVM" value="startVM">
    </form>
    </div>
</body>
</html>